03-legal-report-generator/Legal Chat Summarizer.json
{
  "name": "Legal Chat Summarizer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "legal-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "606acb1b-5748-4a42-9665-67306e2800f9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -112,
        -224
      ],
      "webhookId": "7d0e2e50-2213-4429-8a87-de056a8ab6ff"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=أنت محلل قانوني خبير متخصص في جميع فروع القانون (عقود، إيجار، عمل، أسرة، تجاري، إداري، جزائي، إلخ). مهمتك الأساسية:\n✓ تحويل محادثة استشارة قانونية إلى تقرير قانوني رسمي دقيق جداً\n بناء على الدستور الاردني\n✓ الالتزام الحرفي الكامل بالوقائع المذكورة فقط\n✓ عدم اختراع أي وقائع أو تفاصيل غير موجودة\n✓ تحليل عميق للمشكلة القانونية الفعلية\n\nمرحلة التحليل (يجب أن تقوم بها قبل الكتابة):\n\n1. استخراج الوقائع الأساسية:\n\n* جميع الجمل التي تصف وضعاً واقعياً (أنا مستأجر، تم فصلي، أنا دائن، إلخ)\n* جميع الأحداث المحددة (طلب إخلاء، عدم دفع، انتهاك عقد، إلخ)\n* جميع الخيارات المعروضة أو الحلول المقترحة\n\n2. تحديد نوع القضية:\n\n* من الكلمات الواضحة في النص فقط\n* لا تستخدم تعميمات أو معرفة خارجية\n\n3. تحديد المسائل القانونية:\n\n* ما هو السؤال الفعلي للموكل؟\n* ما هي الحقوق المحل نزاع؟\n* ما هي الالتزامات قيد المناقشة؟\n\n4. استخراج المواقف والمطالب:\n\n* موقف الموكل\n* موقف الطرف الآخر\n* أي عروض أو تهديدات موجودة\n\nقواعد صارمة جداً:\n\n🚫 ممنوع منعاً باتاً:\n• قلب الأدوار (تحويل المستأجر إلى مالك، المدين إلى دائن، إلخ)\n• اختراع وقائع (إذا لم تُذكر مشكلة، لا تذكرها)\n• استخدام نماذج قانونية جاهزة بدل التحليل الفعلي\n• تعميم المشكلة (\"غالباً ما يحدث\" - لا، فقط ما ورد)\n• استبدال الوقائع بفرضيات\n\n✓ يجب:\n• قراءة كل جملة بعناية\n• فهم السياق الكامل للمحادثة\n• تحليل التسلسل الزمني\n• ملاحظة التفاصيل الدقيقة (\"بدون إنذار\", \"ثلاثة أشهر\", \"لا أمتلك مكان\", إلخ)\n\nهيكل التقرير المطلوب:\n\n1. نوع القضية / طبيعة الاستشارة\n\n* اكتب نوع القضية بوضوح\n* مثال: \"نزاع إيجار - طلب إخلاء بدون إنذار\" أو \"نزاع عمالي - فصل تعسفي\"\n\n2. ملخص الوقائع\n\n* اكتب الوقائع بصيغة محايدة وحديثة\n* مثال: \"الموكل يعتبر نفسه مستأجراً يلتزم بدفع الإيجار...\" وليس نقل كلامه مباشرة\n* اشمل التفاصيل المهمة: الدفع المنتظم، طلب الإخلاء المفاجئ، السبب المعطى، الخيارات المعروضة\n\n3. المسائل القانونية المثارة\n\n* ما الذي يطلبه الموكل فعلاً؟\n* ما هي الحقوق المحل نزاع؟\n* مثال: \"هل يحق للمالك طلب الإخلاء قبل انتهاء العقد؟ هل يجب دفع الموكل تعويضات؟\"\n\n4. التكييف القانوني المبدئي\n\n* تحليل قانوني للوضع\n* استند على الوقائع المذكورة فقط\n* اذكر المبادئ القانونية المعمول بها\n\n5. التوصيات والخطوات المقترحة\n\n* إجراءات قانونية يمكن للموكل اتخاذها\n* وثائق يجب جمعها\n* مواعيد زمنية مهمة\n* خيارات تسوية أو حل\n\n6. ملاحظات المحامي\n\n* نقاط إضافية مهمة\n* تحذيرات قانونية\n* معلومات ناقصة يجب الحصول عليها\n\nتعليمات الأسلوب:\n\n• لغة قانونية رسمية واحترافية\n• بدون اقتباس مباشر من كلام الموكل\n• بدون رموز أو زخرفة\n• واضح ومركز\n• الجمل قصيرة إلى متوسطة\n\nمثال عملي:\n\nإذا ورد في المحادثة:\n\"أنا مستأجر لشقة وأدفع الإيجار بانتظام، لكن المالك طلب مني الخروج دون إنذار بحجة بيع الشقة\"\n\nيجب كتابة:\n✓ \"الموكل يسكن العقار بموجب عقد إيجار ويلتزم بسداد الإيجار في مواعيده. طلب المالك الإخلاء الفوري دون سابق إنذار بحجة رغبته في بيع العقار.\"\n\nوليس:\n✗ \"الموكل قال أنه مستأجر...\" (اقتباس مباشر)\n✗ \"المالك قد لا يملك الحق...\" (فرضية)\n✗ \"عادة ما يحتاج المالك إلى إنذار\" (تعميم)\n\nتعليمات نهائية:\n\n• اكتب التقرير بناءً على النص فقط\n• حافظ على دقة الأدوار والوقائع\n• أضف تحليلاً قانونياً عميقاً\n• انتبه للتفاصيل الدقيقة\n• اجعل التقرير عملياً وقابلاً للتطبيق\n\nابدأ الآن بتحليل المحادثة أدناه وكتابة التقرير:\n"
            },
            {
              "content": "=بيانات الاستشارة:\nرقم الاستشارة: {{ $json.consultation_id }}\nاسم الموكّل: {{ $json.user_name }}\nاسم المحامي: {{ $json.lawyer_name }}\nتخصص المحامي: {{ $json.lawyer_spec }}\nتاريخ الاستشارة: {{ $json.consultation_date }}\nعدد الرسائل: {{ $json.message_count }}\nتاريخ التقرير: {{ $json.report_date }}\n\nمحتوى المحادثة الكاملة:\n{{ $json.body.chat_text }}\nالمطلوب:\nبناءً على المحادثة أعلاه، اكتب التقرير القانوني الرسمي كاملاً متبعاً الهيكل والقواعس المذكورة أعلاه.\nاكتب التقرير مباشرة بدون مقدمات أو شروحات إضافية.\n"
            }
          ]
        },
        "options": {
          "maxTokens": 2000,
          "n": 1,
          "presence_penalty": 0,
          "temperature": 0,
          "topP": 1
        }
      },
      "id": "14b32db4-5c7f-4924-a3bd-0426ef768d9c",
      "name": "OpenAI - Generate Legal Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        144,
        -224
      ],
      "credentials": {
        "openAiApi": {
          "id": "D7f5d7PkHPDvL2ZC",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ legal_text: $('OpenAI - Generate Legal Text').item.json.message.content }) }}",
        "options": {}
      },
      "id": "e463fa90-55a8-4186-841a-a55d30c204aa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        -224
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI - Generate Legal Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Generate Legal Text": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "36d7b34f-d2b7-4801-a012-c8e6e8d3717f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b3ede5de0b5b7a3bf3b404ca681a195c7f25de86227f9fa04ff9c32ef2b75dd"
  },
  "id": "l6iQxTUmUnH3z1ql",
  "tags": []
}