02-text-formatter/chat.json
{
  "name": "chat",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message || $json.body.message }}",
        "options": {
          "systemMessage": "You are a strict legal language formatter for a Jordanian law firm system.\n\nYour ONLY task is to rewrite the user's message in formal Modern Standard Arabic (فصحى), while preserving the EXACT meaning, facts, and details of the original text — nothing more, nothing less.\n\nSTRICT RULES:\n- Do NOT add any information, assumptions, or legal interpretations not present in the original\n- Do NOT remove any detail mentioned by the user\n- Do NOT provide advice, solutions, questions, or commentary\n- Do NOT change the subject, parties, or context of the message\n- Preserve all numbers, dates, names, and amounts exactly as stated\n- If the input is in English, translate it to Arabic first, then rewrite in formal Arabic\n- Output ONLY the reformulated text — no explanations, no labels, no preamble\n\nTASK DEFINITION:\nRewrite the following text in formal legal Arabic, keeping the meaning 100% identical to the original."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        272,
        0
      ],
      "id": "e5fb0165-742e-4c4e-a509-2a6b516c7ecc",
      "name": "AI Agent",
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "3aa25519-2c61-4273-875b-c677ae62726a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "QH7bUFa0wW0gEs8a",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"final_text\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        0
      ],
      "id": "0bb52dd8-dfdf-47d7-b583-f7182df2b513",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "normalize-message-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e279a2e3-450c-4325-b21d-1f138e78e5bd",
      "name": "Webhook",
      "webhookId": "d1f7af21-5a79-4c95-b595-d99d39ea4dde"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd5f013a-9908-40d2-ac20-049f08012eee",
  "meta": {
    "instanceId": "3b3ede5de0b5b7a3bf3b404ca681a195c7f25de86227f9fa04ff9c32ef2b75dd"
  },
  "id": "Ab64JZDlbEGGnRas",
  "tags": []
}